/* socials */

.cardfootersocial {
  display: flex;
  height: 4.375em;
  width: 16.875em;
  /*position: relative;
  left: 1;*/
}

.cardfootersocial svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.cardfootersocial .social-link1,.cardfootersocial .social-link2,.cardfootersocial .social-link3,.cardfootersocial .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 3.125em;
  height: 2.3em;
}

.cardfootersocial svg {
  transform: scale(1);
}

.cardfootersocial .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.cardfootersocial .social-link2:hover {
  background-color: #00ccff;
  animation: bounce_613 0.4s linear;
}

.cardfootersocial .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.cardfootersocial .social-link4:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }
/*
  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }*/
}

/* footer*/

footer {
 /* background-image: url("resources/dark-geometric.png"); */
  background-repeat: repeat;
  background-position: calc(100% - 30px) center;
}


.footer {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  padding: 1em;
  text-align: center;
  border-top: 1em solid var(--secondary-color);
  margin-top: 2em;
  align-items: center;
  justify-content: center;
  height: 10em;
}

.containerfooter{
  display: flex;
 
}






/* socials nav */

.cardnavsocial {
  display: flex;
  height: 70px;
  width: 270px;
  position: absolute;
  top: 40em;
}

.cardnavsocial svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.cardnavsocial .social-link1,.cardnavsocial .social-link2,.cardnavsocial .social-link3,.cardnavsocial .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 3.125em;
  height: 2.3em;
}

.cardnavsocial svg {
  transform: scale(1);
}

.cardnavsocial .social-link1:hover {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  animation: bounce_613 0.4s linear;
}

.cardnavsocial .social-link2:hover {
  background-color: #00ccff;
  animation: bounce_613 0.4s linear;
}

.cardnavsocial .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}

.cardnavsocial .social-link4:hover {
  background-color: #12a50b;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }
/*
  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }*/
}