
/* Positionen av taggar påverkas inte bara av taggens egna 
marginal, utan även marginalerna på taggarna runtom.

divs med klasserna .offcanvas och liknande är extra jobbiga att positionera eftersom
de marginaler som påverkar dem (alltså andra taggars margin)
är svåra att förstå var de befinner sig fysiskt i förhållande till
sidenaven. Detta eftersom sidenavens position/storlek varierar. 

Det funkar när: 

* { 
  margin: 0;
}
  
med andra ord, "margin: auto;" är en jäkel, vi får titta vidare på det.

*/

/* jag ändrar px till em */



  /* Global Styles */

* {
    font-family: "anek-latin-variable", sans-serif;
    font-variation-settings: "wdth" 100, "wght" 500;
}
  
:root {
    --primary-color: #e23124;
    --secondary-color: #848A80;
}
 
.body {
  background-image: url("resources/cartographer.png");
  background-color: #848A80;
  background-repeat: repeat;
  background-position: calc(100% - 1.875em) center;
}
  
p {
  margin-inline: 0.5em; 
}

nav img {
  height: 2em;
  align-items: center;
}


/* responsive stuff: 

320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens

*/

@media (max-width: 1919px) {
      
  .article.article div.card {
      opacity: 1;
    }
    
  }


  
  /* Article styles */




/*
header + article {
  background-image: url("resources/cartographer.png");
  background-color: #848A80;
  background-repeat: repeat;
  background-position: calc(100% - 30px) center;
}

*/


  /* Card styles */



article .card {
  border-radius: 1em;
}



.article div.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}


  /* Button Styles */

  .button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 6.25em 12.5em;
    cursor: pointer;
    border-radius: 3.125em;
  }
  
  
/* card img styles */

.card img {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  min-height: 13.5em;
  max-height: auto;
}



/* commenting system sytle */

.commenting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0em;
  /*background-color: red;*/
  width: 50%;
} 
 

.container-commenting {
  /*background-color: green;*/
  display: flex;
  justify-content: center;
}



