
/* Positionen av taggar påverkas inte bara av taggens egna 
marginal, utan även marginalerna på taggarna runtom.

divs med klasserna .offcanvas och liknande är extra jobbiga att positionera eftersom
de marginaler som påverkar dem (alltså andra taggars margin)
är svåra att förstå var de befinner sig fysiskt i förhållande till
sidenaven. Detta eftersom sidenavens position/storlek varierar. 

Det funkar när: 

* { 
  margin: 0;
}
  
med andra ord, "margin: auto;" är en jäkel, vi får titta vidare på det.

*/

/* jag får ändra px till em */



  /* Global Styles */

* {
    font-family: "anek-latin-variable", sans-serif;
    font-variation-settings: "wdth" 100, "wght" 500;
}
  
:root {
    --primary-color: #e23124;
    --secondary-color: #848A80;
}
 
body {
  background-color: #fff;
  color: #333;
}
  
p {
  margin-inline: 0.5em;
}

img {
  height: 2em;
}



  /* Button Styles */
.button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 6.25em 12.5em;
  cursor: pointer;
  border-radius: 3.125em;
}
  
  
  /* Article styles */
article h1 {
  padding-top: 2em;
  text-align: center;
}

header + article {
  background-image: url("resources/cartographer.png");
  background-color: #848A80;
}



  /* Card styles */
  article.article div.card:hover {
  opacity: 1;
  transition: 0.3s;
}

article .card {
  border-radius: 1em;
}

article.article div.card {
  opacity: 0.5;
}



/* Koden ovan funkade inte helt, texten blir också tranparent */

  /* Footer Styles */
.footer {
  background-color: var(--secondary-color);
  color: var(--secondary-color);
  padding: 1em;
  text-align: center;
  border-top: 1em solid var(--primary-color);
}

footer {
  background-image: url("resources/dark-geometric.png"); 
}


  /* Footer social media */
.fa {
  padding: 12.5em;
  font-size: 18.75em;
  height: 18.75em;
  width: 18.75em;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


