  iframe {
    width: 100%;
    height: 15em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: 1em;
  }

  .article .container .row .col .card {
    color: black;
    border: none;
    border-radius: 1em;
    margin: 1em;
    max-width: 40em;
    min-height: 15em;
  }

  .card img {
    width: 100%;
    height: 15em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-bottom: 1em;
  }

  .article.article div.card {
    opacity: 1;
  }

  