
img {
    max-width: 40em;
    max-height: 20em;
}

/* fixar bilder i cards på order */

article .card {
    border-radius: 1em;
    max-width: 40em;
    min-height: 15em;
  }

/*
.offcanvas-header, .offcanvas-body {
    
}
*/



.card img {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  min-height: 13.5em;
}

/* anti hover opacity 0.5 */

.article.article div.card {
  opacity: 1;
}

