
img {
    max-width: 40em;
    max-height: 20em;
}

article .card {
    border-radius: 1em;
    max-width: 40em;
    min-height: 15em;
  }
/*
.offcanvas-header, .offcanvas-body {
    
}
*/

nav img {
  height: 1.75em;
  display: flex;
  align-items: center;
}

.redprinterhead {
  background-image: url(../resources/cool-background-1.jpg);
}